@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Audio from one of my favorite bands Intervals!</h1>
</div>
<div class="video-container">
    <div class="video">
        <iframe width="1000" height="600" src="https://www.youtube.com/embed/f4KCAzK8X0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id='bars'>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
</div>
